.app-container{
  display: flex;
}

.content{
  width: 100%;
}

.sidebar{
  height: 800px;
}

.Post-card{
  margin: 10px 20px;
}

.Tag-button{
  margin: 5px 5px;
}

.Create-post{
  width: 80%;
  margin-top: 30px;
  margin-left: 40px;
}

.welcome{
  margin: 40px;
}